nav ul {
margin:0; 
padding:0; 
	
}

nav ul li {

list-style-type:none; 
float:left; 
display:block; 
width:150px; 
line-height:60px; 
text-align:center; 
 
line-height::55px; 
font-family:Arial, Helvetica, sans-serif;
font-size:16px; 
	
}

nav ul li a {
	text-decoration:none; 
	color:#FFF;
}
nav ul li:hover{
background-color:rgb(242,242,242);	
}
nav ul li:hover a {
display:block; 
color:#000; 	
}


